<h1>Employee View</h1>

<h1> Add New Employee</h1>

<form action="/Employees/AddNew/" method="post" id="addemployeeform">
 <input type="text" name="firstname" id="firstname" /> <br />
 <input type="text" name="lastname" id="lastname" /> <br />
 <input type="text" name="phonenumber" id="phonenumber" /> <br />
 <button type="button" id="btnSubmit" onclick="AddNewEmployee();">Add New Employee</button>
 
</form>

<table id="tblEmployees">

</table>

<script src="/js/employees.js"></script>